@import url('https://fonts.cdnfonts.com/css/porcelain-2');

*{
    margin: 0;
    padding: 0;
}

body, html{
    background-color: #0097B2;
    font-family: 'Porcelain', sans-serif;
    scroll-behavior: smooth;
}

/* random graphics styling */

.elem1{
  width: 10%;
  position: absolute;
  left: 50px;
  top: 30px;
}
.elem2{
  width: 12%;
  position: absolute;
  right: 50px;
  top: 300px;
  transform: rotate(15deg);
}
.elem3{
  width: 12%;
  position: absolute;
  left: 50px;
  top: 480px;
  transform: rotate(45deg);
}
.elem4{
  width: 12%;
  position: absolute;
  right: 50px;
  top: 750px;
}
.elem5{
  width: 12%;
  position: absolute;
  right: 120px;
  top: 80px;
}

/* hide the photos in small screens */
@media only screen and (max-width: 992px) {
  .elem1, .elem2, .elem3, .elem4, .elem5{
    display: none;
  }
}


/* navbar styling */

nav {
    background-color: #FFECC1;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    max-width: 600px;
    border-radius: 35px;
    margin: auto;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    margin-bottom: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: 'Porcelain', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
}

/* team section styling */

.about{
    margin: 30px auto;
    border-radius: 35px;
    padding: 25px 15px;
    text-align: center;
}

.about img{
    width: 150px;
    border-radius: 50%;
}

.about h3{
    margin: 10px 0;
    font-size: 28px;
    color: #eee;
}

.about p{
    max-width: 400px;
    margin: auto;
    font-size: 25px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* buttons styling */

.btn{
  font-size: 25px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px 15px;
}

.princess-btn{
  background-color: #F078B1;
  border-color: #F078B1 !important;
}
.princess-btn:hover{
  background-color: #f263a6;
}

/* scroll to top button */

.topBtn {
    position: fixed;
    z-index: 15;
    bottom: 45px;
    right: 30px;
    text-decoration: none;
    width: 60px;
    height: 60px;
    border: 4px solid #000;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(120px);
  }
  
  .topBtn .progress_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: block;
    border-radius: 16px;
  }
  
  .topBtn .progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: #FFECC1;
  }
  
  .topBtn.active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  
  .topBtn.active .fn__svg {
    -webkit-transform: rotate(0deg) translateX(0px);
    -ms-transform: rotate(0deg) translateX(0px);
    transform: rotate(0deg) translateX(0px);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .topBtn:after {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    right: -4px;
    bottom: -10px;
    z-index: -1;
    border-radius: 0 0 25px 25px;
  }
  
  .topBtn:hover .fn__svg {
    -webkit-mask-image: -webkit-linear-gradient(165deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
    -webkit-mask-size: 200%;
    -webkit-animation: shine 2s infinite;
    animation: shine 2s infinite;
  }
  
  .topBtn .fn__svg {
    width: 35px;
    height: 35px;
    display: block;
    -webkit-transform: rotate(73deg) translateX(9px);
    -ms-transform: rotate(73deg) translateX(9px);
    transform: rotate(73deg) translateX(9px);
    -webkit-transition: all 0.3s 0.3s ease;
    -o-transition: all 0.3s 0.3s ease;
    transition: all 0.3s 0.3s ease;
    position: relative;
    z-index: 2;
  }